.row.standup-date
  .col-md-6.date
    %h2
      %strong
        Week of
      = @date.beginning_of_week.strftime('%b')
      = @date.beginning_of_week.strftime('%d')
  .col-md-6.date-picker
    %a.previous-date
      = link_to 'Previous Week', standups_url(:date => @date.prev_week)
    - if @date == Date.today
      |
      %a.not-active Today
    - else
      %a.todays-date{:href => root_url} Today
      %a.next-date
        = link_to 'Next Week', standups_url(:date => @date.next_week)

.masonry-container.row.clearfix
  - @standups.each do |standup|
    .col-md-4.standup-card.item
      .standup-card-wrap
        .name-section.section.clearfix
          .row
            .col-lg-3.avatar
              = image_tag(standup.user.avatar_url)
            .col-lg-9
              %h2
                = standup.user.full_name
        / end name section
        - if standup.today.nil?
          .vacation.section
            %br
            .text-center
              %b
                = standup.yesterday
        - else
          .yesterday-section.section
            %h2 Changes done last week
            %ul
              %li
                = standup.yesterday.tr("<>","").gsub(/\n/, '<br><li>').html_safe
          / end yesterday section
          .today-section.section
            %h2 Changes I will be doing this week
            %ul
              %li
                = standup.today.tr("<>","").gsub(/\n/, '<br><li>').html_safe unless standup.today.nil?
          / end today section
          .blocks-section.section
            %h2 Any blockers
            %ul
              %li
                = standup.conflicts.tr("<>","").gsub(/\n/, '<br><li>').html_safe unless standup.today.nil?
        / end blocks section
    / /container
